<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891909709523-i7ec5frup2u5v61sciglou9giom5ejf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891909709523-i7ec5frup2u5v61sciglou9giom5ejf9</string>
	<key>API_KEY</key>
	<string>AIzaSyBq2VHI8a-2x1pijZf13Trwb-vmcEdbG4M</string>
	<key>GCM_SENDER_ID</key>
	<string>891909709523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-487ff</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-487ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891909709523:ios:6460153c2c677a94083e26</string>
</dict>
</plist>